:root {
  --main-bg-color: #2F343F;
  --main-txt-color: #7E8792;
  --exit-color: #D41919;
  --min-color: #ff6600;
  --max-color: #357AF0;
}

.headerBar {
  height: 50px;
  min-width: 100%;
  background-color: var(--main-bg-color);
  border-radius:  4px 4px 0 0;
  display: inline-flex;
}

.menuBar {
  position: relative;
  top: 26px;
  color: var(--main-txt-color);
  display: flex;
}

.userText {
 position: absolute;
 right: calc((100% / 2) - 60px);
 color: var(--main-txt-color);
 padding-top: 4px;
 font-style: oblique;
}

.btnBar {
  display: flex;
  position: absolute;
  right: 0px;
  justify-content: space-between;
  width: 80px;
  padding-right: 8px;
  padding-top: 8px;
}

.termExitBtn {
  border-radius: 50%;
  height: 14px;
  width: 14px;

  background-color: var(--exit-color);
}

.termMinBtn {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background-color: var(--min-color);

}

.termMaxBtn {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  background-color: var(--max-color);

}