@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700');

.terminal {

}

.terminalBox {
  display: flex;
}

.terminalInput {
  border: none;
  height: 100%;
  width: 100%;
  resize: none;
  font: 14px 'IBM Plex Mono', monospace;
  font-weight: 500;
  margin: 0;

}

.termText {
  margin: 0;
  padding-right: 4px;
}